/* ===== Cards ===== */
.project-section {
background-color: #111111;
    color: #a8b8bb;
    padding: 120px 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.project-text h2 {
    margin-bottom: 50px;
    margin-top: 50px;
}

.card-project h3 {
    margin-bottom: 10px;
}

.card-project {
  background: #1e1e1f;
  color:#a8b8bb;
  padding: 25px;
  font-size: 19px;
  border-radius: 10px;
  margin-bottom: 25px;
  border: 1px solid #727a7a;
  transition: 0.3s;
}

.card-project .p-1 {
    margin-bottom: 30px;
    line-height: 30px;
}
a.project-link {
  color: #C28F2C;          /* warm bronze */
  text-decoration: none;
  font-weight: 600;
}

a.project-link:hover {
  color: #E6B65C;          /* lighter gold on hover */
  text-decoration: underline;
}

a.project-link:visited {
  color: #9A6B1F;          /* muted bronze for visited */
}

.card-project:hover {
  box-shadow: 0 0 30px #040404, 0 0 40px #444545;
  transform: translateY(-5px);
}


/* ===== Buttons ===== */
.btn {
  display: inline-block;
  margin-top: 20px;
  padding: 12px 25px;
  background: #9fdbe5;
  color: #0f111a;
  text-decoration: none;
  border-radius: 5px;
  font-weight: bold;
  transition: 0.3s;
}

.btn:hover {
  background: #a8b8bb;
  color: #1a1c2b;
  box-shadow: 0 0 10px #a8b8bb;
}

.project-section div

{
    animation: popInSmooth 1.2s ease-out forwards;
}

@keyframes popInSmooth {
    0% {
        opacity: 0;
        transform: translateY(20px) scale(0.98);
    }
    60% {
        opacity: 1;
        transform: translateY(-4px) scale(1.01);
    }
    100% {
        opacity: 1;
        transform: translateY(0) scale(1);
    }
}
