.contact-section {
      background-color: #111111;
    color: #a8b8bb;
    padding: 120px 30px;
    display: flex;
    justify-content: center;
    align-items: center
}

.contact-section div {
    animation: popInSmooth 1.2s ease-out forwards;
}

.contact-container {
  display: flex;
  gap: 40px;
  flex-wrap: wrap;
}
.contact-text {
    width: 970px;
}

.contact-text p {
    margin-bottom: 50px;
    margin-top: 30px;
    font-size: 19px;
}

.contact-text h2 {
    margin-top: 50px;
}

.contact-form h3 {
    margin-bottom: 53px;
}
.contact-form form input{
    margin-bottom: 20px;
}

.contact-form label {
    margin-bottom: 5px;
}

.contact-info, .contact-form {
  flex: 1;
  min-width: 250px;
}

.contact-info p, .contact-info a {
  color: #a0f2ff;
}

.contact-form input, .contact-form textarea {
  width: 100%;
  padding: 10px;
  margin-top: 6px;
  border: 1px solid #727a7a;
  border-radius: 5px;
  background: #0f111a;
  color: #e0e0e0;
}

.contact-form button {
  margin-top: 15px;
  padding: 12px 20px;
  background: #9fdbe5;
  color: #0f111a;
  font-size: 15px;
  font-weight: 700;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

.contact-form button:hover {
 background: #a8b8bb;
  color: #1a1c2b;
}

.contact-form button:active {
    transform: scale(0.9);
}


/* Linkin Link Button */
.Linkin-link {
  display: inline-block;
  margin-top: 8px;
  padding: 8px 15px;
  background: rgb(10, 102, 194);
  color: white;
  text-decoration: none;
  border-radius: 5px;
  font-weight: bold;
  transition: 0.3s;
}

.Linkin-link:hover {
  background: rgb(10, 104, 198);
  opacity: 0.8;
 

}

.Linkin-link:active {
     transform: scale(0.9);
}

@keyframes popInSmooth {
    0% {
        opacity: 0;
        transform: translateY(20px) scale(0.98);
    }
    60% {
        opacity: 1;
        transform: translateY(-4px) scale(1.01);
    }
    100% {
        opacity: 1;
        transform: translateY(0) scale(1);
    }
}
